doctype html
head
    include ../../includes/head.pug 
    meta(name='description' content='Web Scraper for TopWar')
    title TopWar
.articles.d-flex.flex-column.justify-content-start.gap-3.p-5
    each article in news
        div.d-flex.gap-3
            h5= article.title 
            a(href=article.link target='_blank') Article